@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model DemoAspNet.Models.Panier


<div class="container-fluid p-5 w-100">
	<div class="row">
		<div class="col-md-11">
			<div class="card ">
				<div class="card-body">
					<form asp-action="Paiement" method="post">
						<h5 class="card-title">@Model.Title</h5>
						<h6 class="card-subtitle mb-2 text-muted">@Model.Vendeur</h6>
						<h6 class="card-subtitle mb-2 text-muted">@Model.PrixU</h6>
						<input asp-for="Title" type="hidden" value="@Model.Title">
						<input asp-for="Id" type="hidden" value="@Model.Id">
						<input asp-for="PrixU" type="hidden" value="@Model.PrixU">
						<label> Quantité</label>
						<div class="col"><input asp-for="Quantite" type="number" min="0" class="form-control" placeholder="quantité ..." /></div>
						<div class="col"><button type="submit" class="btn btn-success w-100"><i class="bi bi-search"></i> Paiement</button></div>
					</form>

					<a class="btn btn-success w-100 p-3" href="~/home/removeproductpanier/@Model.Id" role="button">Retirer</a>

				</div>
			</div>
		</div>
	</div>

</div>