@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model DemoAspNet.Models.Product

<div class="card mb-2 p-5">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col">
                        <img width="100" src="@Model.URLimg">
                    </div>
                    <div class="col">
                        <b><i class="bi bi-product-fill"></i> Titre :</b> <input   type="text" class="form-control" placeholder="@Model.Title ..." /> <br />
                        <b><i class="bi bi-product-fill"></i> Id:</b> <input   type="text" class="form-control" placeholder="@Model.Id ..." /> <br />

                        <b><i class="bi bi-pencil-fill"></i> Prix :</b>  <input asp-for="Nbr" type="number" class="form-control" min="0" placeholder="@Model.Prix ..." /> <br />
                        <b><i class="bi bi-pencil-fill"></i> Quantité disponible :</b>  <input type="number" class="form-control" min="0" placeholder="@Model.Nbr " /> <br />

                    </div>
                    <a href="#" class="btn btn-danger p-1 mb-1" role="button"><i class="bi bi-cart"></i> Sauvegarder</a>

                    <a class="btn btn-danger" href="~/home/removeproduct/@Model.Id" role="button">Supprimer</a>

                </div>
            </div>
        </div>
    </div>
</div>